.weather {
  font-family: Arial, Helvetica, sans-serif;
  padding: 40px;
  border-radius: 19px;
  background-color: #f4eeff;
}

.weather .btn {
  color: white;
  background-color: #a393eb;
}
.weather .btn:hover {
  color: white;
  background-color: #5e63b6;
}
.weather h1 {
  font-size: 40px;
  font-weight: 550;
  color: black;
}

.weather ul {
  padding: 0;
  margin-top: 20px;
}
.weather li {
  font-size: 16px;
  line-height: 20px;
  list-style: none;
  opacity: 0.7;
}
.weather .temperature {
  font-size: 85px;
  font-weight: 540;
  position: relative;
}

.WeatherTemperature a:hover {
  color: #a393eb;
}
.weather canvas {
  display: inline-block;
}

.weather .unit {
  font-size: 20px;
  position: relative;
  top: -40px;
  line-height: 1;
}
.float-left {
  float: left;
}
.WeatherForecast canvas {
  padding: 20px 0;
}
.currentDate {
  margin-top: -15px;
}
