.weather {
  font-family: Arial, sans-serif;
  border: 1px solid #dadde1;
  color: #1f1f1f;
  padding: 30px;
  border-radius: 4px;
}

.weather h1 {
  font-size: 34px;
  font-weight: 900;
  line-height: 22px;
  margin: 40px 0 20px 0;
  color: black;
}

.weather ul {
  margin: 0;
  padding: 0;
}
.weather li {
  font-size: 20px;
  font-weight: 100;
  line-height: 27px;
  list-style: none;
}
.weather .temperature {
  font-weight: 900;
  font-size: 80px;
  line-height: 64px;

  position: relative;
}
.weather canvas {
  display: inline-block;
  margin-right: 10px;
  margin: 10;
}

.weather .unit {
  font-size: 18px;
  font-weight: 400;
  position: relative;
  top: -40px;
  margin-left: 0px;
  line-height: 1;
}
.float-left {
  float: left;
}
